@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

.main-wrapper {
    background-color: #027ff3;
    font-family: Poppins;
    font-weight: 400;
    margin: 3% 6%;
}

.main-container {
    max-width: 1280px;
    margin: 3% auto;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 20%);
    padding: 40px 70px;
}

.nav {
    display: flex;
    justify-content: flex-start;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    background-color: #027ff3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.logo-letter {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.logo-name {
    margin-left: 10px;
    font-size: 20px;
    color: #666666;
}

.logo-name strong {
    color: #333333;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-link {
    color: #AAAAAA;
    text-decoration: none;
}

.nav-item {
    margin-left: 40px;
}

.nav-item :hover {
    color: #333333;
}

.about-me-wrapper {
    display: flex;
    flex-direction: column;
}
.about-me {
    margin: 40px 7%;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.my-photo {
    display: flex;
    align-self: center;
    flex: 0 1 41.333333333%;
    max-width: 35%;
    border-radius: 50%;
    border: 20px solid white;
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 20%);
    position: relative;
    overflow: hidden;
}

.author-photo {
    width: 100%;
}

.about-me-info {
    flex: 0 1 58.333333333%;
    padding: 0 50px;
}

.about-me-specialization {
    margin: 0 0 10px 0;
    color: #AAAAAA;
    font-weight: 400;
}

.about-me-name {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #333333;
}

.about-me-summary {
    margin: 0 0 10px 0;
    color: #666666;
}

.contact a {
    text-decoration: none;
    color: #666666;
}

.contact a:hover {
    text-decoration: underline;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #333333;
    text-align: center;
}

.contact {
    margin-right: 15px;
    padding-bottom: 15px;
    flex: 0 0 30%;
}

.contact-icon img {
    height: 40px;
}

.section-title h2 {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    color: #333333;
}

.section-title h2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
    bottom: 0;
}

.section-title h2:after {
    content: "";
    position: absolute;
    width: 33px;
    height: 2px;
    background-color: #027ff3;
    bottom: 0;
    left: 0;
}

.work-place {
    display: flex;
    width: 100%;
}

.work-experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.company-name-date {
    display: inline-block;
    font-size: 20px;
    color: #666666;
    margin-top: 20px;
    font-weight: 500;
}

.position {
    display: flex;
    font-size: 20px;
    color: #333333;
    flex: 0 0 30%;
    margin-top: 20px;
    font-weight: 500;
}

.key-responsibilities {
    margin: 0 0;
}

.responsibilities-list {
    list-style-type: none;
    color: #666666;
}

.key-responsibilities li:before {
    content: "•";
    color: #333333;
    padding-right: 10px;
}

.skills {
    margin: 40px 0;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-section-skills {
    flex: 0 1 27%;
}

.skill {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 18px;
    padding-bottom: 10px;
}

.skill::before {
    content: "";
    height: 5px;
    width: 100%;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-1::after {
    content: "";
    height: 5px;
    width: 50%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-2::after {
    content: "";
    height: 5px;
    width: 50%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-3::after {
    content: "";
    height: 5px;
    width: 15%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-4::after {
    content: "";
    height: 5px;
    width: 10%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-5::after {
    content: "";
    height: 5px;
    width: 30%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-6::after {
    content: "";
    height: 5px;
    width: 40%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-7::after {
    content: "";
    height: 5px;
    width: 80%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-8::after {
    content: "";
    height: 5px;
    width: 50%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-9::after {
    content: "";
    height: 5px;
    width: 50%;
    background-color: #027ff3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.skill-name {
    display: inline-flex;
}

.skill-progress {
    display: inline-flex;
}

.languages {
 display: flex;
 flex-direction: column;
}

.languages-list {
    margin-bottom: 25px;
}

.language {
    padding-bottom: 15px;
    color: #666666;
}

.in-process {
    color: #666666;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    padding-top: 40px;
}

.footer-item {
    flex: 0 0 20%;
    text-align: center;
    width: 20%;
}

.github-link {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}

.github-account img {
    width: 37px;
}

.github-name {
    margin-left: 15px;
    color: #333333;
}

.year {
    color: #333333;
}

.rsschool img {
    width: 100px;
}

@media (max-width: 1077px) {
    .about-me-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .about-me-info {
        text-align: center;
        padding: 0 0;
    }

    .my-photo {
        max-width: 65%;
        margin: 30px 0;
    }

    .contact-info {
        flex-direction: column;
    }
}

@media (max-width: 700px) {

    .main-wrapper {
        background-color: white;
        margin: 0;
    }

    .main-container {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 40px 30px;
    }

    .about-me {
        margin: 20px 7%;
    }

    .about-me-summary {
        margin-bottom: 0;
    }

    .my-photo {
        max-width: 80%;
        margin-top: 0;
    }

    .section-title {
        align-self: center;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .sub-section-skills {
        flex: 0 1 100%;
    }

    .work-place {
        flex-direction: column;
    }

    .company-name-date {
        margin-top: 0;
    }

    .position {
        margin-bottom: 0;
    }

    .skills {
        margin: 20px 0 20px 0;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }
    
    .contact-info {
        flex-direction: column;
    }
}

@media (max-width: 550px) {

    .about-me-info {
        padding: 0 30px;
    }

    .my-photo {
        width: 100%;
    }

    .about-me-name {
        font-size: 38px;
    }

    .github-name {
        display: none;
    }

    .github-link {
        justify-content: center;
    }

    .footer-item {
        flex: 0 0 30%;
    }
}